{% {%load staticfiles %} %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
  <title></title>
</head>
<body>
   <header>
     <div class="navigation">
       <div class="logo">
         <a class="" href="/"><i class="fa fa-instagram"></i></a>
         <a class="" href="/"></a>
         <a class="v1" href="/">Instaclone</a>
       </div>
       <div class="search-bar">
         <input type="text" placeholder="search">
         <a class="search" href=""><i class="fa-solid  fa-search"></i></a>
       </div>
       <div class="icons">
         <a class="profile" href=""><i class="fa-solid fa-user"></i></a>
         <a class="explore" href=""><i class="fa-solid fa-compass"></i></a>
         <a class="likes" href=""><i class="fa-solid fa-circle-heart"></i></a>
        </div>
     </div>
   </header>
   <div class="container">
     {% block content %} 
     {% endblock %}
   </div>
</body>
</html>