{% extends 'gallery/base.html'%}

{% block content%}

  {%for post in posts%}

    <div class="card">
      <div class="card-header">
        <div class="profile-image">

        </div>
        <div class="post">
          <div class="post-name">{{post.author}}</div>
          <div class="post-location">Nairobi</div>
        </div>
      </div>
      <div class="post-image">
        <img src="/gallery/static/photos/images (3).jpeg" alt="">
      </div>
      <div class="connection">
        <a href=""><i class="fa-solid fa-circle-heart"></i></a> 
        <a href=""><i class="fa-solid fa-circle-heart"></i></a>
        <a href=""><i class="fa-solid fa-share"></i></a>
      </div>
      <div class="likes">
        <a href="">350</a>
      </div>
      <div class="caption">
        <a href="">
          <h3>{{post.author}}</h3>
          <span>
            <p>{{post.caption}}</p>
          </span>
        </a>
      </div>
    </div>

  {% endfor%}

{% endblock %}  
