{% extends 'gallery/base.html'%}

{% block content%}

  {%for post in posts%}

    <div class="card">
      <div class="card_header">
        <div class="profile_image">

        </div>
        <div class="post">
          <div class="post_name">{{post.author}}</div>
          <div class="post_location">Nairobi</div>
        </div>
      </div>
      <div class="post_image">
        <img src="/static/photos/images (3).jpeg" alt="">
      </div>
      <div class="connection">
        <a href=""><i class="fa-solid fa-heart"></i></a>
        <a href=""><i class="fa-solid fa-comment"></i></a>
        <a href=""><i class="fa-solid fa-share"></i></a>
        <a href=""><i class="fa-solid fa-bookmark"></i></a>
      </div>
      <div class="likes">
        <a href="">350</a>
      </div>
      <div class="caption">
        <a href="">
          <h3>{{post.author}}</h3>
          <span>
            <p>{{post.caption}}</p>
          </span>
        </a>
      </div>
      <div class="time-posted">
        {{post.created_date| timesince}} ago
      </div>
    </div>

  {% endfor%}

{% endblock %}  
