body {
  background-color: #ffff;
}
header{
  background-color: #fafafafa;
  border-bottom: 1.5px solid #cccc;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.navigation{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  padding: 27px 20px;
  flex-wrap: wrap;
}

.navigation a{
  color: #111;
}
.logo{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 0:
}
.logo a{
  font-size: 25px;
  padding-left:10px ;
}